<div class="container">
  <h1>Packages</h1>
  <br />

  <div class="list-group">
    <a [routerLink]="['/packages', pack.id]" routerLinkActive="router-link-active" 
    class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let pack of packages; index as i"
    >
      {{ pack.name }}
      <span class="badge badge-primary badge-pill">{{ pack.products.length }}</span>
    </a>
  </div>


  <button style="margin-top:20px" type="button" [routerLink]="['/packages/0']" routerLinkActive="router-link-active"  class="btn btn-primary float-right">
    Add package
  </button>


</div>
