<!--The content below is only a placeholder and can be replaced.-->
<form [formGroup]="packageForm">
  <div class="container">
    <h1>Package details</h1>
    <a [routerLink]="['/packages']" routerLinkActive="router-link-active"
      >Back to packages</a
    >
    <br /><br />

    <div class="form-group">
      <label for="exampleFormControlInput1">Package name</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        formControlName="packageTitle"
      />
    </div>
    <br />

    <div
      style="background: #f9f9f9;padding: 10px; border: 1px solid #eee;"
      class="form-inline"
    >
      <div class="form-group">
        <label for="username">Name&nbsp;</label>
        <input type="text" class="form-control" formControlName="addName" />
      </div>
      &nbsp;
      <div class="form-group">
        <label for="username">Type&nbsp;</label>
        <input type="text" class="form-control" formControlName="addType" />
      </div>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="addProduct()">
        Add product
      </button>
    </div>

    <ul class="list-group">
      <li
        class="list-group-item clearfix"
        *ngFor="let prod of products; index as i"
      >
        {{ prod.name }} - ({{ prod.productType }})
        <span class="float-right button-group">
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeProduct(i)"
          >
            Delete
          </button>
        </span>
      </li>
    </ul>

    <br />
    <button type="button" (click)="saveChanges()" class="btn btn-primary">
      Save changes
    </button>
  </div>
</form>
